In [1]:
import pandas as pd

In [6]:
def sum_digits(n):
    summatory = 0
    for number in range(1, n+1):
        summatory += number
    return summatory

sum_digits(5)

15

In [17]:
def highestKey(dictionary):
    sorted_values = sorted(dictionary.values(), reverse=True)
    return sorted_values[:3]
    
diccionario = {"one": 3000,
           "two": 20000,
           "three": 10000,
           "four": 6000}   

highestKey(diccionario)

[6000]

In [26]:
data =  [
        [1,1,'13/8/20 17:00',23.12],
        [2,2,'14/8/20 12:00',21.12],
        [3,3,'14/8/20 17:00',3.12],
        [3,4,'13/8/20 14:00',123.12]
        ]

data

[[1, 1, '13/8/20 17:00', 23.12],
 [2, 2, '14/8/20 12:00', 21.12],
 [3, 3, '14/8/20 17:00', 3.12],
 [3, 4, '13/8/20 14:00', 123.12]]

In [27]:
df = pd.DataFrame(data, columns= ["client_id","order_id","date","amount"])
df

   client_id  order_id           date  amount
0          1         1  13/8/20 17:00   23.12
1          2         2  14/8/20 12:00   21.12
2          3         3  14/8/20 17:00    3.12
3          3         4  13/8/20 14:00  123.12

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  4 non-null      int64
 1   order_id   4 non-null      int64
 2   date       4 non-null      object
 3   amount     4 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 256.0+ bytes

In [31]:
filtered_dates = df[(df.date > '14/8/20 10:00') & (df.date < '14/8/20 15:00')]
df.drop(filtered_dates.index, inplace = True)
df

   client_id  order_id           date  amount
0          1         1  13/8/20 17:00   23.12
2          3         3  14/8/20 17:00    3.12
3          3         4  13/8/20 14:00  123.12

In [35]:
df["discount"] = 0.0
df

   client_id  order_id           date  amount  discount
0          1         1  13/8/20 17:00   23.12       0.0
2          3         3  14/8/20 17:00    3.12       0.0
3          3         4  13/8/20 14:00  123.12       0.0

In [39]:
df[df.client_id == 3]['discount'] = 0.2

<ipython-input-39-c2fdcb187974>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df.client_id == 3]['discount'] = 0.2

In [40]:
df

   client_id  order_id           date  amount  discount
0          1         1  13/8/20 17:00   23.12       0.0
2          3         3  14/8/20 17:00    3.12       0.0
3          3         4  13/8/20 14:00  123.12       0.0

In [41]:
y = 8

z= lambda x: x*y

print(z(6))

48

In [ ]:
a= {}
a[2]=1
a[1]= [2,3,4]